# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Packer
packer_cache/

# Python
**/__pycache__/
**/.pytest_cache/
**/venv/
*.pyc

# Build artifacts
**/tmp/
*.zip
*.log

# Editor
.vscode/
